<h1>
  login works!
</h1>

<div>
  <div class="col-md-6">
    <span>N° de cuenta: </span> <strong>4557886000000018</strong>
    <br>
    <br>

  <div class="col-md-12" style="margin-top: 8px;">
      <span>Oauth Login url: </span><br>
      <strong>{{ oauthUrlLogin }}</strong>
    </div>

  <div class="col-md-12" style="margin-top: 16px;">
    <button class="btn btn-default" (click)="requestEndpointSecured()">Request to the endpoint secured</button>
    <button class="btn btn-primary" (click)="oauth()">Go to oauth server login page</button>
  </div>
</div>
